{% load static %}

<html>
    <head>
        <title>My login page</title>
        <link rel="stylesheet" type"text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type"text/css" href="{% static 'css/styles.css' %}">
    </head>
    <div class="container bg-white shadow-md p-5">
    <h1>Dashboard</h1>
    <hr>
    Welcome, {{user}}
    <br>
    <img style="width: 100px;" src="{{profilePic.profile_pic.url}}">
    <a href="{% url 'user-logout'%}">Logout</a>
    <br>
    <a href="{% url 'profile_management'%}">Profile management</a>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</html>
